<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>@Html.Raw(ViewData["Title"]) - فروشگاه اینترنتی سارای</title>

    <meta itemprop="name" content="فروشگاه صنایع دستی سارای - برندینگ و بسته بندی و فروش آنلاین">
    <meta itemprop="description" content="خرید آنلاین صنایع دستی، سوغاتی، کادو و هدیه در بزرگترین فروشگاه صنایع دستی ایران با ارسال سریع، بسته بندی ویژه، کیفیت بالا و قیمت مناسب ">
    <meta name="author" content="e.vahedi" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="http://tabrizhandicrafts.com">
    <meta property="og:type" content="website">
    <meta name="keywords" content="سارای، صنایع دستی، هدیه، هدیه فاخر،چوبی، نقره، فرش، گلیم، جاجیم، چرم، سفال، میناکارای، نوآورانه، خلاقانه، معتبر، با کیفیت، ساخت هنر دست ، کالای ایرانی، آموزش صنایع دستی، خرید صنایع دستی، فروش صنایع دستی">

    <meta name="robots" content="index, follow">
    <meta name="description" content="خرید آنلاین صنایع دستی، سوغاتی و هدیه را در فروشگاه صنایع دستی سارای با ارسال سریع، بسته بندی ویژه، کیفیت بالا و قیمت مناسب تجربه .کنید؛ فروش آنلاین صنایع دستی" />
    <meta property="og:locale" content="fa_IR" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="فروشگاه اینترنتی صنایع دستی سارای - برندینگ و بسته بندی و فروش آنلاین" />
    <meta property="og:description" content="خرید آنلاین صنایع دستی، سوغاتی و هدیه را در فروشگاه صنایع دستی سارای با ارسال سریع، بسته بندی ویژه، کیفیت بالا و قیمت مناسب تجربه .کنید؛ فروش آنلاین صنایع دستی" />
    <meta property="og:url" content="http://tabrizhandicrafts.com/" />
    <meta property="og:site_name" content="فروشگاه صنایع دستی سارای" />
    <meta property="og:image" content="http://tabrizhandicrafts.com/" />
    <meta name="twitter:site" content="@@tabrizhandicrafts" />

    <link href="~/css/_Loading.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" />
    @*<link href="~/fonts/fontawesome-free-5.15.1-web/css/all.css" rel="stylesheet" />*@
    <link href="~/fonts/fontawesome-pro-5.15.1-web-ulabs/css/all.css" rel="stylesheet" />
    <link href="/plugins/select2/select2.min.css" rel="stylesheet" />
    <link href="~/css/_banner.css" rel="stylesheet" />
    <link href="~/plugins/megamenu/megMenu.css" rel="stylesheet" />
    <link href="~/plugins/carousel/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/plugins/carousel/owl.theme.css" rel="stylesheet" />
    <link href="~/plugins/carousel/owl.theme.default.min.css" rel="stylesheet" />

    <link href="~/css/Header._header.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/fonts/sans/SansFont.css" rel="stylesheet" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <!-- LOADER -->
    <div class="preloader">
        <div class="lds-ellipsis-logo">
            <img src="~/image/Logo.png" class="width-100px mb-20" />
        </div>
        <div class="lds-ellipsis">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <!-- END LOADER -->

    <partial name="~/Views/Shared/Header/_header.cshtml" />

    @RenderSection("mainBanner", false)


    <div class="___container-fluid ___pl-0 __pr-0">
        <main role="main" class="pb-3 mt-150">
            @RenderBody()
        </main>
    </div>


    <partial name="~/Views/Shared/_footer.cshtml" />

    <!---- سبد خرید ---->
    <div class="modal fade" id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="سبد خرید" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">سبد خرید</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p class="font-weight-bold text-muted">
                        سبد خرید شما بروز شد جهت مشاهده سبد یا تسویه اقدام نمایید
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="/shoppingcart/cart" class="btn btn-primary">ادامه فرایند خرید</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">انتخاب کالای دیگر</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.rtl.min.js"></script>
    <script src="/plugins/select2/select2.min.js"></script>
    <script src="~/plugins/megamenu/megaMenu.js"></script>
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        /*===================================*
        01. LOADING JS
        /*===================================*/
        $(window).on('load', function () {
            setTimeout(function () {
                $(".preloader").delay(700).fadeOut(700).addClass('loaded');
            }, 800);
        });


        //jQuery(function ($) {
        //    var path = window.location.href; // because the 'href' property of the DOM element is the absolute path
        //    $('ul.nav li a').each(function () {
        //        if (this.href === path) {
        //            $(this).addClass('active');
        //        }
        //    });
        //});

        //$(document).ready(function () {
        //    $('a').each(function () {
        //        if ($(this).prop('href') == window.location.href) {
        //            $(this).addClass('currentpage');
        //        }
        //    });
        //});
        //$(function () {
        //    $(".wsmenu a").each(function () {
        //        if ($(this).attr("href") == window.location.pathname) {
        //            $(this).parent().addClass("currentpage");
        //        }
        //    });
        //});


    </script>
    <script>
        //  دسته بندی ها با زیر مجموعه
        let megaMenuData = () => {
            $.ajax({
                type: 'POST',
                url: "/Home/GetCatProductList_UI",

                success: function (result) {
                    if (result.success == true) {
                        $(".megacontent").html('');
                        var megacontent = $(".megacontent");
                        var select2Combo = $("#searchCategoryCmb");
                        $.each(result.data.objList, function (e, v) {

                            var child = "";
                            if (v.inverseP.length > 0) {

                                select2Combo.append(`<option value='${v.id}'>${v.name}</option>`);
                                setChilds(v.inverseP);

                                child = `<ul class="list-unstyled">`;
                                $.each(v.inverseP, function (e2, v2) {
                                    child += `<li><a href="/Product/ByFilter?catId=${v2.id}">${v2.name}</a></li>`;
                                });
                                child += "</ul>";

                                megacontent.append(`<div class="col-md-3">
                                                                                        <div class="col-megamenu">
                                                                                            <h6 class="title"><a href="/Product/ByFilter?catId=${v.id}">${v.name}</a></h6>${child}
                                                                                        </div>
                                                                                    </div`);

                            }
                            else {
                                select2Combo.append(`<option value='${v.id}'>${v.name}</option>`);

                                megacontent.append(`<div class="col-md-3">
                                                                                        <div class="col-megamenu">
                                                                                            <h6 class="title"><a href="/Product/ByFilter?catId=${v.id}">${v.name}</a></h6>
                                                                                        </div>
                                                                                    </div`);
                            }
                        });
                    }
                }
            });
        };

        var setChilds = (chlist) => {
            $.each(chlist, function (e, v) {
                if (v.inverseP.length > 0) {
                    select2Combo.append(`<option value='${v.id}'>${v.name}</option>`);
                    setChilds(v.inverseP);
                } else {
                    $("#searchCategoryCmb").append(`<option value='${v.id}'>${v.name}</option>`);
                }
            });

        }

        //============
        megaMenuData();


    </script>
    @RenderSection("Scripts", required: false)
</body>
</html>
