@model HandiCrafts.Web.CustomerOrderFullDto

@{
    ViewData["Title"] = "جزییات کامل ثبت سفارش";
    Layout = "~/Views/Shared/_UserPanelLayout.cshtml";
}

@section Styles{
    <link href="~/css/userpanel/upanelcss.css" rel="stylesheet" />

    <style>
        dt {
            padding: 10px;
            background: #f3f3f3;
            margin-bottom: .5rem;
        }

        dd {
            padding: 10px;
            margin-bottom: .5rem;
            margin-right: 0;
            background: #f9f9f9;
        }

        .order-detail-content-main {
            background-color: #f2f2f3;
            border-radius: 10px;
            border-color: #dee2e6;
            font-size: 1.2rem;
            padding: 20px 30px;
        }

        .tarakonesh-tbl {
            background-color: #e6e6e6;
            font-size: 1rem;
            border-radius: 10px;
        }

        .orderdetail-list-a-img li a img {
            max-width: 100px;
            max-height: 100px;
            border-radius: 10px;
        }

        .orderdetail-list-desc {
            font-size: 1rem;
            font-weight: 500;
        }

            .orderdetail-list-desc li {
                margin: 3px auto
            }

        .orderdetail-list-prod {
            border-top: 2px solid #c7c6c6;
            padding: 20px 0;
        }

        .fa-checked-full {
            border-radius: 50%;
            background: #279696;
            color: aqua;
        }

        .fa-checked-blank {
            border-radius: 50%;
            background: #ffffff;
            color: white;
            border: 1px solid #c3c3c3;
        }

        .span-dot {
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #737373;
            display: inline-block;
        }
    </style>
}

@{
    var dt = !string.IsNullOrEmpty(Model.OrderDate) ? Model.OrderDate : PersianDateTime.Now.ToString();
    PersianDateTime persiandt = PersianDateTime.Parse(dt);
    var hazinehErsal = "رایگان";
    if (Model.PostServicePrice != null) hazinehErsal = string.Format("{0:n0}", Model.PostServicePrice);

}
<div class="container mt-4">
    <div class="col-12  min-height-200px order-detail-content-main">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h5 class="color-black mb-5"><a href="/Order/OrdersHistory"><i class="fa fa-long-arrow-alt-right fa-2x vertical-align-middle"></i></a>  جزئیات سفارش</h5>
                <p class="color-black">@persiandt.Day @persiandt.MonthName @persiandt.Year <span class="span-dot"></span> شماره سفارش @Model.OrderNo</p>
            </div>
            @{
                var percent = 0;
                if (Model.FinalStatusId == 18) { percent = 65; }
                else if (Model.FinalStatusId == 19 || Model.FinalStatusId == 20) { percent = 80; }
                else if (Model.FinalStatusId == 12) { percent = 50; }
                else if (Model.FinalStatusId == 27) { percent = 100; }
                else if (Model.FinalStatusId == 21) { percent = 100; }

                    <div class="col-12 col-sm-6 text-right">
                        <div class="col-12">
                            <div dir="ltr">
                                <div class="progress" style="width:50%">
                                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: @percent%" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="@percent"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12"><span class="text-success" style="font-size: 1rem;">تحویل مرسوله به مشتری</span></div>
                    </div>
            }
        </div>
        <hr />
        <div class="row">
            <div class="col-12 col-sm-12">
                <p><span>تحویل گیرنده:</span><span class="color-black pl-1 pr-3"> @Model.CustomerName</span><span> <span class="span-dot"></span> شماره تماس:</span><span class="color-black pl-1 pr-3">@Model.CustomerMobile</span></p>
                <p>ارسال به: <span class="color-black pl-1 pr-3">@Model.CustomerAddress</span></p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-12 col-sm-6">
                <p>
                    @if (!string.IsNullOrEmpty(Model.DeliveryDate))
                    {
                        <span>تحویل:</span><span class="color-black pl-1 pr-3"> @Model.DeliveryDate </span> <span class="span-dot"></span>
                    }
                    <span>ارسال:</span><span class="color-black pl-1 pr-3">@Model.PostTypeName</span>
                    <span> <span class="span-dot"></span> هزینه ارسال:</span><span class="color-black pl-1 pr-3">@hazinehErsal</span>
                </p>
                <p>مبلغ کل: <span class="color-black pl-1 pr-3">@string.Format("{0:n0}", Model.FinalPrice) تومان</span></p>
            </div>
            <div class="col-12 col-sm-6 text-right">
                <p>
                    تاریخچه تراکنش
                </p>
            </div>

            <div class="col-12 col-sm-10 text-center mt-30 mb-30 ml-auto mr-auto tarakonesh-tbl">
                @{
                    foreach (var item in Model.CustomerOrderPaymentList)
                    {
                        <div class="row mt-20 mb-20">
                            <div class="col-3 col-sm-3 color-black">تاریخ</div>
                            <div class="col-3 col-sm-3 color-black">توضیحات</div>
                            <div class="col-3 col-sm-3 color-black">وضعیت</div>
                            <div class="col-3 col-sm-3 color-black">مبلغ</div>
                        </div>
                        <div class="row mb-20">
                            <div class="col-3 col-sm-3">@item.TransactionDate</div>
                            <div class="col-3 col-sm-3"> @item.FinalStatus</div>
                            <div class="col-3 col-sm-3"><i class="fa fa-check-circle fa-checked-full fa-2x"></i><!--<i class="fa fa-check-circle fa-checked-blank fa-2x"></i>--></div>
                            <div class="col-3 col-sm-3">@string.Format("{0:n0}", item.PaymentPrice) تومان</div>
                        </div>
                        <hr />
                    }
                }
            </div>

        </div>

        <div class="row">
            <div class="col-12">
                <ul class="list-unstyled d-inline-block mb-3 orderdetail-list-a-img w-100">
                    @{
                        foreach (var item in Model.CustomerOrderProductsList)
                        {
                            <li class="text-center mr-3 ml-3 orderdetail-list-prod">

                                <div class="d-flex text-left">
                                    <a>
                                        <img src="@item.ProductImage" />
                                    </a>
                                    <ul class="list-unstyled ml-3 orderdetail-list-desc">
                                        <li><span class="color-black pl-1 pr-2"><span class="pl-2 pr-2">@item.ProductName</span> <span class="pl-2 pr-2">کد @item.ProductCode</span></span></li>
                                        <li><span class="pl-1 pr-2">قیمت واحد: <span class="color-black">@string.Format("{0:n0}", item.ProductPrice) تومان</span></span></li>
                                        <li><span class="pl-1 pr-2">بسته بندی: <span class="color-black">@string.Format("{0:n0}", item.PackingPrice) تومان</span></span></li>
                                        <li>
                                            <span class="pl-1 pr-2">
                                                شناسه یکتای محصول: <span>
                                                    <span class="ml-2 mr-2 color-black"> دارد <i class="fa fa-check-circle fa-checked-full"></i></span>
                                                    <span class="ml-2 mr-2 color-black"> ندارد <i class="fa fa-check-circle fa-checked-blank"></i></span>
                                                </span>
                                            </span>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>



