<!-- فوتر -->
<footer class="bg-gray footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/truck.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">@T["main-page.feature.express-delivery"]</div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/garanti.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">@T["main-page.feature.guarantee"]</div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/support.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">@T["main-page.feature.support-24"]</div>
                </div>
            </div>
            <div class="col-6 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <div class="card mb-4">
                    <img src="~/image/icons/monybag.png" class="max-width-50px" />
                    <div class="card-text font-weight-600">@T["main-page.feature.7days-mony-back"]</div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col">
                <div class="card mb-4">
                    <h6 class="card-title pricing-card-title">@(T["footer.helper-buy"].Value)</h6>
                    <ul class="list-unstyled mt-3 mb-4 custome-muted-text">
                        <li>@(T["footer.nahveh-sabt-sefaresh"].Value)</li>
                        <li>@(T["footer.raviyeh-sabt-sefaresh"].Value)</li>
                        <li>@(T["footer.shiveh-pardakht"].Value)</li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <h6 class="card-title pricing-card-title">@T["footer.khadamat-moshtariyan"]</h6>
                    <ul class="list-unstyled mt-3 mb-4 custome-muted-text">
                        <li>@T["footer.faq"]</li>
                        <li>@T["footer.raviyeh-marjuee"]</li>

                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4">
                    <h6 class="card-title pricing-card-title">@T["footer.ba-saray"]</h6>
                    <ul class="list-unstyled mt-3 mb-4 custome-muted-text">
                        <li>@T["footer.jobs"]</li>
                        <li>
                            <a href="/Home/Contactus" style="color: #8c8c8c;">
                                @T["footer.contactus"]
                            </a>
                        </li>
                        <li>
                            <a href="/Home/Aboutus" style="color: #8c8c8c;">
                                @T["footer.aboutus"]
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-lg-4 col-md-6 col-sm-12">
                <div class="card mb-4 text-left">
                    <h6 class="card-title pricing-card-title">@T["footer.ssr-title"]</h6>
                    <form class="frmRss form-inline mt-2" dir="rtl">
                        <input class="form-control text-left email" type="text" placeholder="@T["footer.ssr-email-placeholder"]" aria-label="@T["footer.ssr-send"]">
                        <button class="btn btn-info my-2 my-sm-0 send-email-btn" type="submit">@T["footer.ssr-send"]</button>
                    </form>
                    <h6 class="card-title pricing-card-title mt-2">@T["footer.social-net-title"]</h6>
                </div>
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col-12 col-sm-7 col-lg-9 col-md-8">
                <div class="card mb-4 text-left">
                    <h6 class="card-title pricing-card-title">@T["footer.site-description-title"]</h6>
                    <div class="mt-3 mb-4 custome-muted-text">
                        <p class="text-wrap line-height-30 text-justify">
                            @T["footer.site-description-message"]
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-3 col-md-4 col-sm-5">
                <div class="card mb-4 text-right">
                    <div class="form-inline mt-2" dir="ltr">
                        <a><img src="~/image/zarrinpal.jpg" /></a>
                        <a><img src="~/image/nomad.jpg" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>
