@model ICollection<CustomerAddressDto>

<section>
    <div class="">
        <div class="card-deck mb-3 text-center m-0">
            <div class="col col-sm-12 col-md-12">
                <div class="card mb-4 m-0 border-0">
                    <div class="mb-3 text-left">
                        <div class="row m-0 text-center">
                            <h5 class="m-auto">
                                آدرس تحویل سفارش را انتخاب نمایید:
                            </h5>
                        </div>
                        <div class="row mt-3 ml-0 mr-0">
                            @{
                                foreach (var item in Model)
                                {
                                    var CheckDefaultAddress = "";
                                    if (item.DefualtAddress != null)
                                    {
                                        if (item.DefualtAddress == true) CheckDefaultAddress = "checked";
                                    }

                                    <div class="col-12 col-sm-6 col-md-4 col-lg-3 mt-5px ml-sm-2 mr-sm-2 border-firouzi border-2 border-radius-10 text-muted line-height-30  addressbx">
                                        <div class="col-12 text-left">
                                            <label class="cyan">
                                                <input type="radio" name="optionsSendAddress" @CheckDefaultAddress value="@item.Id">
                                                <b>به این آدرس ارسال شود</b>
                                            </label>
                                        </div>
                                        <hr />
                                        <div class="col-12 addressStr">@item.ProvinceName، @item.CityName، @item.Address</div>
                                        <div class="col-12"><span class="fa fa-envelope solid-fa ml-10"></span><small>@item.PostalCode</small></div>
                                        <div class="col-12"><span class="fa fa-phone-alt solid-fa ml-10"></span><small>@item.IssureMobile</small></div>
                                        <div class="col-12"><span class="fa fa-user-alt solid-fa ml-10"></span><small class="fullname">@item.IssureName @item.IssureFamily</small></div>
                                        <div class="col-12 text-right"><span><a href="" class="btn btn-link">حذف</a>|<a href="" class="btn btn-link">ویرایش</a></span></div>
                                    </div>
                                }

                                <button type="button" id="btnAddAddress" class="col-12 col-sm-5 col-md-4 col-lg-3 mt-5px border-1 border-dashed border-radius-10 text-muted line-height-30 background-none min-height-200px">
                                    <span class="">
                                        <i class="fa fa-plus solid-fa fa-2x"></i>
                                        <br />
                                        ایجاد آدرس جدید
                                    </span>
                                </button>

                            }
                        </div>
                    </div>
                </div>

            </div>
            <div class="col col-sm-12 col-md-12">
                <a class="btn btn-outline-danger" href="/ShoppingCart/Cart">بازگشت</a>
            </div>
        </div>
    </div>
</section>