
@{
    ViewData["Title"] = "Cart";
}

@section Styles{
    <style>
        .table td, .table th {
            vertical-align: middle;
        }

        .shop_cart_table .table {
            margin: 0;
        }

        .shop_cart_table td::before, .wishlist_table td::before {
            float: right;
            margin-right: 0;
            margin-left: 15px;
        }

        @@media only screen and (max-width: 767px) {
            .shop_cart_table thead, .wishlist_table thead {
                display: none;
            }

            .shop_cart_table td.product-thumbnail, .shop_cart_table td.product-add-to-cart, .wishlist_table td.product-thumbnail, .wishlist_table td.product-add-to-cart {
                text-align: center;
            }

            .shop_cart_table td, .wishlist_table .table td {
                display: block;
                width: 100%;
                text-align: left;
            }

                .shop_cart_table td::before, .wishlist_table td::before {
                    content: attr(data-title) " ";
                    float: right;
                    text-transform: capitalize;
                    margin-right: 15px;
                    font-weight: bold;
                }

            .shop_cart_table .spinner {
                direction: rtl;
                display: inline-flex;
            }

                .shop_cart_table .spinner span.plus-item {
                    line-height: 42px;
                }

                .shop_cart_table .spinner span.minus-item {
                    line-height: 42px;
                }
        }

        .shop_cart_table .spinner {
            direction: rtl;
            display: inline-flex;
        }

            .shop_cart_table .spinner span.plus-item {
                line-height: 42px;
            }

            .shop_cart_table .spinner span.minus-item {
                line-height: 42px;
            }
    </style>
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <hr />
            <h3 class="color-firouzi">سبد خرید <span class="badge badge-pill bg-firouzi total-count">0</span></h3>

            <div class="cart-box">
                <div class="table-responsive shop_cart_table">

                    <table class="table text-center">
                        <thead>
                            <tr>
                                <th>محصولات</th>
                                <th class="text-left">نام محصول</th>
                                <th>قیمت</th>
                                <th>تعداد</th>
                                <th>جمع کل</th>
                                <th>نوع بسته بندی</th>
                                <th>حذف/ذخیره در لیست خریدبعدی</th>
                            </tr>
                        </thead>
                        <tbody class="show-cart">
                        </tbody>
                    </table>
                </div>

                <hr />

                <div class="row">
                    <div class="col-12 col-sm-7 mt-3">
                        <div class="col-12 bg-gray border-radius-20 pt-20px pl-25px pr-25px pb-20px">
                            <h4>نحوه پرداخت</h4>

                            <div class="row mt-4" id="paymentTypesBox">
                                <div class="col">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1" checked="checked">
                                        <b>پرداخت آنلاین</b>
                                        <br />
                                        <small class="text-muted">آنلاین با تمامی کارت های بانکی</small>
                                    </label>
                                </div>
                                <div class="col">
                                    <label>
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="1">
                                        <b>پرداخت اقساطی</b>
                                        <br />
                                        <small class="text-muted">اقساطی به صورت</small>
                                    </label>
                                </div>
                            </div>
                            <hr />
                            <h4>نحوه ارسال</h4>

                            <div class="row mt-4" id="posttypesBox">
                            </div>
                            <hr />
                            <h4 class="mt-4">کارت هدیه و کدتخفیف</h4>
                            <div class="row">
                                <div class="col mr-3">
                                    <div class="input-group input-group-sm pt-5px pb-5px pr-10px pl-10px mr-10 ml-10 border-default border-radius-20">
                                        <input type="text" id="inputOfferCode" class="form-control fix-rounded-right bg-gray border-0 border-radius-10" style="height:48px;" placeholder="ثبت کد تخفیف">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text background-none border-0">
                                                <button type="button" id="btnSetOffer" class="btn color-firouzi border-0">ثبت</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            @*<div class="row mt-4">
                                    <div class="col mr-3">
                                        <div class="input-group input-group-sm pt-5px pb-5px pr-10px pl-10px mr-10 ml-10 border-default border-radius-20">
                                            <input type="text" class="form-control fix-rounded-right bg-gray border-0 border-radius-10" style="height:48px;" placeholder="افزودن کارت هدیه جدید">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text background-none border-0">
                                                    <button class="btn color-firouzi border-0">ثبت</button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>*@

                            <h4 class="mt-5 mb-5">آدرس تحویل سفارش</h4>

                            <div class="row">
                                <div class="col mr-3">
                                    <p>
                                        @*آذربایجان شرقی، تبریز، رشدیه، بلوار بهارستان،برج رشدیه، بلوک ب، طبقه ١١ ،واحد ١١٣ ،
                                            پلاک ١*@
                                        <span id="addressBox" class="d-block"></span>

                                        <span class="text-muted d-block mt-4"><i class="fa fa-user solid-fa"></i> <span id="fullname"></span></span>
                                        
                                        <a href="/Shoppingcart/Address" class="d-block mt-3 color-firouzi"><i class="fa fa-angle-right"></i> تغییر یا ویرایش آدرس</a>
                                    </p>
                                </div>

                            </div>

                            @*<h4 class="mt-5 mb-5">زمان ارسال</h4>

                                <div class="row">
                                    <div class="col mr-3 cart-send-date-tabs">
                                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                                            @{
                                                PersianDateTime persianDateTime = new PersianDateTime(DateTime.Now);

                                                for (int i = 0; i < 6; i++)
                                                {

                                                    var tabname = "#sendDay" + i;
                                                    var selected = i == 0 ? "true" : "false";
                                                    var active = i == 0 ? "active" : "";

                                                    <li class="nav-item">
                                                        <a class="nav-link @active" id="@tabname-tab" data-toggle="tab" href="@tabname" role="tab" aria-controls="@tabname" aria-selected="@selected">
                                                            @persianDateTime.AddDays(i + 2).DayName
                                                            <small class="form-text text-muted-in-dark ">
                                                                @persianDateTime.AddDays(i + 2).Day @persianDateTime.AddDays(i + 2).MonthName
                                                            </small>
                                                        </a>
                                                    </li>
                                                }
                                            }

                                        </ul>
                                        <div class="tab-content bg-white mb-4" id="myTabContent">
                                            @{
                                                for (int i = 0; i < 6; i++)
                                                {

                                                    var tabname = "#sendDay" + i;
                                                    var selected = i == 0 ? "active" : "";
                                                    var checkedRadoi = i == 0 ? "checked" : "";

                                                    <div class="tab-pane fade show @selected" id="@tabname" role="tabpanel" aria-labelledby="@tabname-tab">
                                                        <div class="col-12 pt-3 pb-3 pr-2">
                                                            <label>
                                                                <input type="radio" value="@i" @checkedRadoi>
                                                                <small class="text-muted">ساعت 9 تا 22</small>
                                                            </label>
                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>

                                </div>*@

                        </div>
                    </div>
                    <div class="col-12 col-sm-5 mt-3">
                        <div class="col-12 bg-white border-radius-20">
                            <h3 class="bg-gray p-4 border-radius-20">جمع کل</h3>

                            <table class="w-100">
                                <tbody>
                                    <tr>
                                        <td class="line-height-60">قیمت کالا(<span class="total-count"></span>)</td>
                                        <td class="line-height-60 text-right"><span class="total-cart">0</span> تومان</td>
                                    </tr>
                                    <tr>
                                        <td class="line-height-60">تخفیف کالاها</td>
                                        <td class="line-height-60 text-right color-firouzi">(<span id="offerPrecent">0</span>%) تخفیف کالاها</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <table class="w-100">
                                <tbody>
                                    <tr>
                                        <td class="line-height-60 font-weight-bold">جمع</td>
                                        <td class="line-height-60 text-right font-weight-bold"><span id="totalBeforeOffer">0</span> تومان</td>
                                    </tr>
                                    <tr>
                                        <td class="line-height-60">هزینه ارسال</td>
                                        <td class="line-height-60 text-right"><span class="hazine-ersal">رایگان</span></td>
                                    </tr>
                                    <tr>
                                        <td class="line-height-60">هزینه بسته بندی</td>
                                        <td class="line-height-60 text-right color-firouzi"><span id="packingprice">0</span> ت</td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <table class="w-100">
                                <tbody>
                                    <tr>
                                        <td class="line-height-60 font-weight-bolder">مبلغ قابل پرداخت</td>
                                        <td class="line-height-60 text-right font-weight-bolder"><span class="totalPayment">0</span> تومان</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="mt-4 mr-4 ml-4">
                                <button type="button" id="btnInsertOrder" class="btn btn-info btn-block p-2 font-size-20px font-weight-bold border-radius-10">تایید سفارشات</button>
                            </div>

                            <div class="col-10 offset-md-1">
                                <table class="w-100">
                                    <tbody>
                                        <tr>
                                            @*<td class="line-height-60">امتیاز باشگاه</td>
                                                <td class="line-height-60 text-right">10</td>*@
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cart-box-empty d-none bg-gray">
                <div class="row">
                    <div class="col-12">
                        <div class="container bg-white border-radius-10 p-5 text-center mt-25 mb-25 card">
                            <img src="~/image/cart-empty.png" width="200" class="m-auto" />

                            <h3 class="mt-3">سبد خرید شما خالی است!</h3>
                            <p>می توانید برای مشاهده محصولات بیشتر به صفحات زیر بروید</p>
                            <div class="text-center">
                                <a href="/Product/ByFilter?OrderBy=1" class="ml-3 mr-3">جدیدترین</a>
                                <a href="/Product/ByFilter?OrderBy=3" class=" ml-3 mr-3">پرفروش ترین</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" tabindex="-1" role="dialog" id="messagesModal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">پیغام سیستم</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p id="messageTag"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $("#addressBox").html(localStorage.getItem("address"));
        $("#fullname").html(localStorage.getItem("fullname"));
        $(".totalPayment").html(shoppingCart.totalCart());

        if (shoppingCart.totalCount() == 0) {
            $(".cart-box").addClass("d-none");
            $(".cart-box-empty").removeClass("d-none");
        } else {
            $(".cart-box-empty").addClass("d-none");
            $(".cart-box").removeClass("d-none");
        }

        $("#btnSetOffer").on("click", function () {
            if (isSetOffer == false)
                GetOfferValueByCode_UI();
            else {
                $("#messageTag").html("شما قبلا از کد تخفیف استفاده کرده اید");
                $("#messagesModal").modal("show");
            }
        });

        // شیوه ی پرداخت
        function GetPaymentTypeList() {
            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetPaymentTypeList_UI",
                data: {},
                success: function (result) {
                    if (result.success == true) {
                        $("#paymentTypesBox").empty();

                        $.each(result.data?.objList, function (e, v) {
                            var check = "";
                            if (e == 0) check = "checked";
                            $("#paymentTypesBox").append(`<div class="col-6 col-sm-4 mt-10">
                                                                            <label>
                                                                                <input type="radio" name="optionsPaymentTypeRadios" value="${v.id}" ${check}>
                                                                                <b>${v.title}</b>
                                                                                <br />
                                                                                <small class="text-muted">${v.description}</small>
                                                                            </label>
                                                                        </div>`);
                        });
                    }
                }
            });
        }

        // اعمال کد تخفیف
        function GetOfferValueByCode_UI() {
            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetOfferValueByCode_UI",
                data: { offerCode: $("#inputOfferCode").val() },
                success: function (result) {
                    debugger
                    if (result.success == true) {

                        if (result.data?.objList.length == 0) return false;

                        objOffers = result.data?.objList[0];
                        var total = $("span.total-cart").text();

                        if (objOffers?.value) {
                            $("#offerPrecent").html(comma(objOffers?.value));

                            if (objOffers?.maximumPrice != null) {
                                if (objOffers?.maximumPrice < parseInt(total) * parseInt(objOffers?.value)) {
                                    $("#totalBeforeOffer").html(comma(parseInt(total) - parseInt(objOffers?.maximumPrice)));
                                    $(".totalPayment").html(comma(parseInt(total) - parseInt(objOffers?.maximumPrice)));
                                    allData.totalbeforeOffer = parseInt(total) - parseInt(objOffers?.maximumPrice);
                                    allData.offerEmalshode = parseInt(objOffers?.maximumPrice);
                                } else {
                                    $("#totalBeforeOffer").html(comma(parseInt(total) - parseInt(total) * parseInt(objOffers?.value)));
                                    $(".totalPayment").html(comma(parseInt(total) - parseInt(total) * parseInt(objOffers?.value)));
                                    allData.totalbeforeOffer = parseInt(total) - parseInt(total) * parseInt(objOffers?.value);
                                    allData.offerEmalshode = parseInt(total) * parseInt(objOffers?.value);
                                }
                            }
                        }

                        CustomerOrderPreview();

                    } else {
                        $("#messageTag").html("کد تخفیف شما فاقد اعتبار می باشد");
                        $("#messagesModal").modal("show");
                    }
                }
            });
        }

        // جزییات محصولات
        function GetProductByIdList_UI() {
            var productIdList = [];
            var productsInCart = shoppingCart.listCart();
            $.each(productsInCart, function (e, v) {
                productIdList.push(this.prodid);
            });

            if (productIdList.length == 0) {
                $(".cart-box").addClass("d-none");
                $(".cart-box-empty").removeClass("d-none");

                return false;
            }

            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetProductByIdList_UI",
                data: { model: productIdList },
                success: function (result) {
                    debugger
                    if (result.success == true) {
                        if (result.data?.objList.length == 0) return false;

                        console.log(result.data);

                        productsdetaillist = result.data.objList;

                        CustomerOrderPreview();
                    }
                    else {
                        $("#messageTag").html(result.message);
                        $("#messagesModal").modal("show");
                    }
                }
            });
        }

        // دریافت آدرس پیشفرض و نام فرد
        function GetCustomerDefultAddress_UI() {
            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetCustomerDefultAddress_UI",
                success: function (result) {
                    if (result.success == true) {

                        var dataInfo = result.data.obj;
                        $("#addressBox").html(`${dataInfo?.provinceName ?? ''} ${dataInfo?.cityName ?? ''} ${dataInfo?.address ?? ''}، ${dataInfo?.issureMobile ?? ''}`);
                        $("#fullname").html(`${dataInfo?.issureName ?? ''} ${dataInfo?.issureFamily ?? ''}`);
                        localStorage.setItem("addressId", dataInfo.id);
                    }
                }
            });
        }

        // انواع ارسال پست یا رایگان یا...
        function GetPostTypeList_UI() {
            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/GetPostTypeList_UI",
                success: function (result) {
                    $("#posttypesBox").html('');

                    if (result.success == true) {
                        var options = "";
                        var posttypes = result.data.objList;
                        if (result.data.objList.length > 0) {
                            $.each(posttypes, function (e, v) {
                                var checked = "";
                                if (e == 0) checked = "checked='checked'";
                                $("#posttypesBox").append(`<div class="col-6 col-sm-4 mt-10">
                                        <label>
                                            <input type="radio" name="optionsPostTypes" value='${this.id}' price='${this.price}' ${checked}>
                                            <b>${this.title}</b>
                                        </label>
                                    </div>`);
                            });

                            bindPostTypes();
                            $("input[name=optionsPostTypes]").trigger("change");
                        }
                    }
                }
            });
        }

        var bindPostTypes = () => {
            $("input[name=optionsPostTypes]").on("change", function () {
                CustomerOrderPreview();
            });
        }

        // نوع بسته بندی محصول
        let LoadPackages = (prd, pkselected) => {
            $.ajax({
                type: 'POST',
                url: "/Product/GetProductPackingTypeList_UI",
                data: {
                    productId: prd
                },
                success: function (result) {
                    if (result.success == true && result.data != null) {
                        var options = "";
                        $("select.packageComboInCart[data-pkCmbId='" + prd + "']").empty();//.append('<option value="">انتخاب ..</option>');
                        if (result.data.objList.length == 0) $("select.packageComboInCart[data-pkCmbId='" + prd + "']").attr("disabled", true);

                        $.each(result.data.objList, function (e2, v2) {
                            console.log("prd:", prd);
                            console.log("this.packinggTypeId:", this.id/*packinggTypeId*/);
                            var selected = "";
                            var pkhazineh = 0;
                            if (result.data.objList.length == 1) {
                                selected = "selected='selected'";

                                shoppingCart.changeSelectedPackage(prd, this.id/*packinggTypeId*/);

                                $("input[data-pkinputhide='" + prd + "']").val(this.id/*packinggTypeId*/);
                                $("input[data-pkinputhide='" + prd + "']").attr("data-hazineh", this?.price ?? 0);

                                $("#packingprice").html(comma(this?.price ?? 0));
                                allData.totalbeforeHazinehBastehbandi = parseInt(allData.totalbeforeOffer) + parseInt(this?.price ?? 0);

                                $("span.totalPayment").html(comma(allData.total - allData.totalbeforeOffer + allData.totalbeforeHazinehBastehbandi));
                            }

                            if (pkselected != undefined && pkselected != null) {
                                selected = "selected='selected'";

                                shoppingCart.changeSelectedPackage(prd, this.id/*packinggTypeId*/);

                                $("input[data-pkinputhide='" + prd + "']").val(this.id/*packinggTypeId*/);
                                $("input[data-pkinputhide='" + prd + "']").attr("data-hazineh", this?.price ?? 0);

                                $("#packingprice").html(comma(this?.price ?? 0));
                                allData.totalbeforeHazinehBastehbandi = parseInt(allData.totalbeforeOffer) + parseInt(this?.price ?? 0);

                                $("span.totalPayment").html(comma(allData.total - allData.totalbeforeOffer + allData.totalbeforeHazinehBastehbandi));
                            }

                            var opTitle = this.packingTypeName != undefined ? this.packingTypeName : "عادی";
                            pkhazineh = this?.price ?? 0;

                            options += `<option value='${this.id/*packinggTypeId*/}' ${selected} hazineh='${pkhazineh}'>${opTitle}</option>`;
                        });

                        $("select.packageComboInCart[data-pkCmbId=" + prd + "]").append(options);
                    }
                }
            });
        };

        function productsPackageListLoad() {
            var productsInCart = shoppingCart.listCart();

            $.each(productsInCart, function (e, vx) {
                LoadPackages(vx.prodid, $("input[data-pkinputhide='" + vx.prodid + "']").val());
            });
        }

        $("select.packageComboInCart").off("click");
        $("select.packageComboInCart").on("change", function () {

            if ($(this).val() != "") {
                shoppingCart.changeSelectedPackage($(this).attr("data-pkCmbId"), $(this).val());

                $("input[data-pkinputhide='" + $(this).attr("data-pkCmbId") + "']").val($(this).val());
                $("input[data-pkinputhide='" + $(this).attr("data-pkCmbId") + "']").attr("data-hazineh", $(this).find('option:selected').attr("hazineh"));

                $("#packingprice").html(comma($(this).find('option:selected').attr("hazineh")));
                allData.totalbeforeHazinehBastehbandi = parseInt(allData.totalbeforeOffer) + parseInt($(this).find('option:selected').attr("hazineh"));

                $("span.totalPayment").html(comma(allData.total - allData.totalbeforeOffer + allData.totalbeforeHazinehBastehbandi));

                CustomerOrderPreview();
            }
        });

        function findofferid(productid) {
            var _offerid = null;
            debugger
            for (var i = 0; i < productsdetaillist.length; i++) {
                if (productsdetaillist[i] == productid) {
                    _offerid = productsdetaillist[i]?.offerId ?? null;
                }
            }

            return _offerid;
        }

        $("#btnInsertOrder").on("click", function () {
            InsertCustomerOrder_UI();
        });

        // ثبت سفارش
        function InsertCustomerOrder_UI() {
            if (localStorage.getItem("addressId") == null || localStorage.getItem("addressId") == undefined) {
                $("#messageTag").html("شما آدرسی جهت ارسال انتخاب نکرده اید لطفا آنرا انتخاب نمایید");
                $("#messagesModal").modal("show");
                return false;
            }

            var posttype = $("input[name=optionsPostTypes]:checked").val();

            var model = {
                PaymentTypeId: $("input[name=optionsPaymentTypeRadios]:checked").val(),
                OfferId: objOffers?.offerId ?? null,
                CustomerAddressId: localStorage.getItem("addressId"),
                CustomerDescription: null,
                ProductList: [],
                PostTypeId: posttype != undefined ? posttype : 1
            };

            $.each(shoppingCart.listCart(), function (e, v) {
                var pkg = null;
                if ($("input[data-pkinputhide='" + v.prodid + "']").val() == "" || $("input[data-pkinputhide='" + v.prodid + "']").val() == "undefined") { } else {
                    pkg = $("input[data-pkinputhide='" + v.prodid + "']").val();
                }

                var productObj = {
                    ProductId: v.prodid,
                    Count: v.count,
                    ColorId: null,
                    PackingTypeId: pkg,//v.packageId,
                    OfferId: findofferid(v.prodid)
                };

                model.ProductList.push(productObj);
            });

            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/InsertCustomerOrder_UI",
                data: { model: model },
                success: function (result) {
                    debugger
                    if (result.success == true) {
                        console.log(result.data);
                        orderResltObj = result.data.obj;
                        //BankUrl//CustomerOrderId/OrderNo/PostPrice/RedirectToBank/
                        window.location = orderResltObj.bankUrl;
                    }
                    else {
                        $("#messageTag").html(result.message);
                        $("#messagesModal").modal("show");
                    }
                }
            });
        }

        // اطلاعات سبد خرید و بروزرسانی قیمت ها
        function CustomerOrderPreview() {
            var posttype = $("input[name=optionsPostTypes]:checked").val();

            if (posttype == undefined) return false;

            var model = {
                PaymentTypeId: $("input[name=optionsPaymentTypeRadios]:checked").val(),
                OfferId: objOffers?.offerId ?? null,
                CustomerAddressId: localStorage.getItem("addressId"),
                CustomerDescription: null,
                ProductList: [],
                PostTypeId: posttype != undefined ? posttype : null
            };

            $.each(shoppingCart.listCart(), function (e, v) {
                var pkg = null;
                if ($("input[data-pkinputhide='" + v.prodid + "']").val() == "" || $("input[data-pkinputhide='" + v.prodid + "']").val() == "undefined") { } else {
                    pkg = $("input[data-pkinputhide='" + v.prodid + "']").val();
                }

                var productObj = {
                    ProductId: v.prodid,
                    Count: v.count,
                    ColorId: null,
                    PackingTypeId: pkg,//v.packageId,
                    OfferId: findofferid(v.prodid)
                };

                model.ProductList.push(productObj);
            });

            $.ajax({
                type: 'POST',
                url: "/Shoppingcart/CustomerOrderPreview",
                data: { model: model },
                success: function (result) {
                    debugger
                    if (result.success == true) {
                        console.log(result.data);
                        var obj = result.data.obj;

                        //$("#offerPrecent").html(result.data.?.value);
                        $("#totalBeforeOffer").html(comma(obj.orderPrice));
                        //$("#packingprice").html(this?.price ?? 0);
                        $("span.totalPayment").html(comma(obj.finalPrice));
                        $("span.hazine-ersal").html(comma(obj.postServicePrice));
                        $("#offerPrecent").val(obj.offerValue);
                    }
                    else {
                        $("#messageTag").html(result.message);
                        $("#messagesModal").modal("show");
                    }
                }
            });
        }

        //============ Load ============

        var orderResltObj = {};
        var isSetOffer = false;
        var objOffers = {};
        var productsdetaillist = [];
        var allData = {
            total: shoppingCart.totalCart(),
            totalbeforeOffer: 0,
            offerEmalshode: 0,
            hazinehBastehbandi: 0,
            totalbeforeHazinehBastehbandi: 0
        }

        if (shoppingCart.totalCount() != 0) {
            GetProductByIdList_UI();
            GetPostTypeList_UI();
            GetPaymentTypeList();
            GetCustomerDefultAddress_UI();

            productsPackageListLoad();
        }

    </script>
}